# Tutorial to download (and save) PFAS-data from DOV through pydov

In [1]:
from PFAS_concentrations import RequestPFASdata
from pydov.util.location import Within, Box

pyproj not installed

Check out the query and customization options from pydov.\
You can query on [location](https://pydov.readthedocs.io/en/stable/query_location.html) and also [restrict the number of WFS features returned](https://pydov.readthedocs.io/en/stable/sort_limit.html).

## Case 1 : You want to save the data

### Example 1 : You want to download and save all the PFAS data of Flanders

In [2]:
medium = ['all']
location = Within(Box(15000, 150000, 270000, 250000))  # Bounding box Flanders

rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None, save=True)[0]

2023-08-28 08:05:10.967 | INFO     | PFAS_concentrations:biota:152 - Downloading biota data

[000/001] .

2023-08-28 08:05:24.921 | INFO     | PFAS_concentrations:effluent:190 - Downloading effluent data

[000/001] .

2023-08-28 08:05:33.828 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/015] ...............
[000/001] .

2023-08-28 08:38:14.087 | INFO     | PFAS_concentrations:migration:292 - Downloading migration data

[000/001] .

2023-08-28 08:38:21.452 | INFO     | PFAS_concentrations:pure_product:339 - Downloading pure product data

[000/001] .

2023-08-28 08:38:28.267 | INFO     | PFAS_concentrations:rainwater:386 - Downloading rainwater data

[000/001] .

2023-08-28 08:38:31.477 | INFO     | PFAS_concentrations:soil:427 - Downloading soil data

[000/021] .....................
[000/011] ...........

2023-08-28 09:23:02.562 | INFO     | PFAS_concentrations:soil_water:479 - Downloading soilwater data

[000/001] .
[000/001] .

2023-08-28 09:23:40.900 | INFO     | PFAS_concentrations:surface_water:538 - Downloading surface water data

[000/007] .......
[000/001] .

2023-08-28 09:31:03.150 | INFO     | PFAS_concentrations:waste_water:590 - Downloading waste water data

[000/012] ............

  0%|          | 0/1182084 [00:00<?, ?it/s]

2023-08-28 10:06:51.047 | INFO     | PFAS_concentrations:main:1005 - The program was executed in 2:01:40.079894.

### Example 2 : You only want to download and save the groundwater data of Flanders

In [3]:
medium = ['groundwater']
location = Within(Box(15000, 150000, 270000, 250000))  # Bounding box Flanders

rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None, save=True)[0]

2023-08-28 10:06:51.147 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/015] ...............
[000/001] .

  0%|          | 0/160302 [00:00<?, ?it/s]

2023-08-28 10:35:12.468 | INFO     | PFAS_concentrations:main:1005 - The program was executed in 0:28:21.320475.

### Example 3 : You want to download and save the soil and groundwater data of Flanders

In [4]:
medium = ['soil', 'groundwater']
location = Within(Box(15000, 150000, 270000, 250000))  # Bounding box Flanders

rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None, save=True)[0]

2023-08-28 10:35:12.927 | INFO     | PFAS_concentrations:soil:427 - Downloading soil data

[000/021] .....................
[000/011] ...........

2023-08-28 11:14:01.431 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/015] ...............
[000/001] .

  0%|          | 0/461242 [00:00<?, ?it/s]

2023-08-28 11:35:47.126 | INFO     | PFAS_concentrations:main:1005 - The program was executed in 1:00:34.198414.

### Example 4 : You want to download and save the combined groundwater PFAS data of Flanders

In [5]:
medium = ['combined_groundwater']
location = Within(Box(15000, 150000, 270000, 250000))  # Bounding box Flanders

rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None, save=True)[0]

2023-08-28 11:35:47.206 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/015] ...............
[000/001] .

  0%|          | 0/160302 [00:00<?, ?it/s]

2023-08-28 11:53:55.969 | INFO     | PFAS_concentrations:main:1005 - The program was executed in 0:18:08.762202.

## Case 2 : You want the data in a dataframe to integrate it in your python script

### Example 1 : You want to download all the PFAS data of Flanders

In [6]:
medium = ['all']
location = Within(Box(15000, 150000, 270000, 250000))  # Bounding box Flanders
rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None)[0]

2023-08-28 11:53:56.086 | INFO     | PFAS_concentrations:biota:152 - Downloading biota data

[000/001] .

2023-08-28 11:54:04.950 | INFO     | PFAS_concentrations:effluent:190 - Downloading effluent data

[000/001] .

2023-08-28 11:54:09.725 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/015] ...............
[000/001] .

2023-08-28 12:18:59.559 | INFO     | PFAS_concentrations:migration:292 - Downloading migration data

[000/001] .

2023-08-28 12:19:09.760 | INFO     | PFAS_concentrations:pure_product:339 - Downloading pure product data

[000/001] .

2023-08-28 12:19:20.202 | INFO     | PFAS_concentrations:rainwater:386 - Downloading rainwater data

[000/001] .

2023-08-28 12:19:24.140 | INFO     | PFAS_concentrations:soil:427 - Downloading soil data

[000/021] .....................
[000/011] ...........

2023-08-28 13:03:04.637 | INFO     | PFAS_concentrations:soil_water:479 - Downloading soilwater data

[000/001] .
[000/001] .

2023-08-28 13:03:42.969 | INFO     | PFAS_concentrations:surface_water:538 - Downloading surface water data

[000/007] .......
[000/001] .

2023-08-28 13:09:50.846 | INFO     | PFAS_concentrations:waste_water:590 - Downloading waste water data

[000/012] ............

2023-08-28 13:25:26.608 | INFO     | PFAS_concentrations:main:1005 - The program was executed in 1:31:30.521959.

In [7]:
# Biota_VMM
df[0].info()
df[0].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ogc_fid           1266 non-null   int64
 1   meetplaats        1266 non-null   object
 2   x_mL72            1266 non-null   int64
 3   y_mL72            1266 non-null   int64
 4   jaar              1266 non-null   int64
 5   datum             1266 non-null   object
 6   parameter         1266 non-null   object
 7   detectieconditie  1266 non-null   object
 8   meetwaarde        1266 non-null   float64
 9   meeteenheid       1266 non-null   object
 10  omschrijving      1266 non-null   object
 11  vha_segment_code  1266 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 118.8+ KB

,ogc_fid,meetplaats,x_mL72,y_mL72,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,omschrijving,vha_segment_code
0,24,12000,104330,218850,2016,2016-10-14,PFTrDA,<,0.128000,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988
1,23,12000,104330,218850,2016,2016-10-14,PFTrDA,=,0.205724,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988
2,22,12000,104330,218850,2016,2016-10-14,PFTeDA,<,0.017000,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988
3,21,12000,104330,218850,2016,2016-10-14,PFTeDA,=,0.301815,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988
4,20,12000,104330,218850,2016,2016-10-14,PFPeA,<,0.531000,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988

In [8]:
# Effluent_OVAM
df[1].info()
df[1].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 93 non-null     int64
 1   opdracht           93 non-null     int64
 2   pfasdossiernr      93 non-null     int64
 3   profielnaam        93 non-null     object
 4   top_in_m           93 non-null     float64
 5   basis_in_m         93 non-null     float64
 6   jaar               93 non-null     int64
 7   datum              93 non-null     object
 8   parameter          93 non-null     object
 9   detectieconditie   93 non-null     object
 10  meetwaarde         93 non-null     float64
 11  meeteenheid        93 non-null     object
 12  medium             93 non-null     object
 13  profieltype        93 non-null     object
 14  plaatsing_profiel  0 non-null      float64
 15  commentaar         93 non-null     object
 16  x_ml72             93 non-null     float64
 17  y_ml72             93 non-null     float64
dtypes: float64(6), int64(4), object(8)
memory usage: 13.2+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31426742,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-07-31,PFHxStotal,<,0.152,µg/l,Effluent,Staal,NaN,,147811.54,213425.03
1,31426743,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-07-31,PFOAtotal,<,0.252,µg/l,Effluent,Staal,NaN,,147811.54,213425.03
2,31426744,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-07-31,PFOSAtotal,<,0.256,µg/l,Effluent,Staal,NaN,,147811.54,213425.03
3,31426745,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-07-31,PFOStotal,<,0.185,µg/l,Effluent,Staal,NaN,,147811.54,213425.03
4,31426746,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-04-25,PFOSAtotal,=,0.223,µg/l,Effluent,Staal,NaN,,147811.54,213425.03

In [9]:
# Groundwater_VMM
df[2].info()
df[2].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10817 entries, 0 to 10816
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pkey_grondwatermonster        10817 non-null  object
 1   grondwatermonsternummer       10817 non-null  object
 2   pkey_grondwaterlocatie        10817 non-null  object
 3   gw_id                         10817 non-null  object
 4   pkey_filter                   10817 non-null  object
 5   filternummer                  10817 non-null  object
 6   x                             10817 non-null  float64
 7   y                             10817 non-null  float64
 8   start_grondwaterlocatie_mtaw  10817 non-null  float64
 9   gemeente                      10817 non-null  object
 10  datum_monstername             10817 non-null  datetime64[ns]
 11  parametergroep                10817 non-null  object
 12  parameter                     10817 non-null  object
 13  detectie                      9377 non-null   object
 14  waarde                        10817 non-null  float64
 15  eenheid                       10817 non-null  object
 16  veld_labo                     10817 non-null  object
 17  aquifer_code                  10769 non-null  object
 18  diepte_onderkant_filter       10817 non-null  float64
 19  lengte_filter                 10817 non-null  float64
 20  top_m_mv                      10817 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(13)
memory usage: 1.7+ MB

,pkey_grondwatermonster,grondwatermonsternummer,pkey_grondwaterlocatie,gw_id,pkey_filter,filternummer,x,y,start_grondwaterlocatie_mtaw,gemeente,...,parametergroep,parameter,detectie,waarde,eenheid,veld_labo,aquifer_code,diepte_onderkant_filter,lengte_filter,top_m_mv
0,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,...,Grondwater_chemisch_PFAS,PFOSA,<,1.0,ng/l,LABO,0233,5.0,0.5,4.5
1,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,...,Grondwater_chemisch_PFAS,PFOA,NaN,2.0,ng/l,LABO,0233,5.0,0.5,4.5
2,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,...,Grondwater_chemisch_PFAS,PFDA,<,1.0,ng/l,LABO,0233,5.0,0.5,4.5
3,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,...,Grondwater_chemisch_PFAS,PFOStotal,NaN,1.0,ng/l,LABO,0233,5.0,0.5,4.5
4,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,...,Grondwater_chemisch_PFAS,PFBS,NaN,32.0,ng/l,LABO,0233,5.0,0.5,4.5

In [10]:
# Groundwater_OVAM
df[3].info()
df[3].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143890 entries, 0 to 143889
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 143890 non-null  int64
 1   opdracht           143890 non-null  int64
 2   pfasdossiernr      143890 non-null  int64
 3   profielnaam        143890 non-null  object
 4   top_in_m           143799 non-null  float64
 5   basis_in_m         143799 non-null  float64
 6   jaar               143890 non-null  int64
 7   datum              143890 non-null  object
 8   parameter          143890 non-null  object
 9   detectieconditie   143890 non-null  object
 10  meetwaarde         143890 non-null  float64
 11  meeteenheid        143771 non-null  object
 12  medium             143890 non-null  object
 13  profieltype        143890 non-null  object
 14  plaatsing_profiel  141333 non-null  object
 15  commentaar         143890 non-null  object
 16  x_ml72             143890 non-null  float64
 17  y_ml72             143890 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 19.8+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063070,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFHpS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
1,31063071,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
2,31063072,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,HFPO-DA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
3,31063073,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFODA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
4,31063074,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0

In [11]:
# Groundwater_Lantis
df[4].info()
df[4].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595 entries, 0 to 5594
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   projectdeel         5595 non-null   object
 1   peilbuis            5595 non-null   object
 2   filter_van_m        4778 non-null   float64
 3   filter_tot_m        5122 non-null   float64
 4   nummer              5595 non-null   int64
 5   analysemonster      5595 non-null   object
 6   datum_bemonstering  5595 non-null   object
 7   gegevens            5595 non-null   object
 8   parameter           5595 non-null   object
 9   detectieconditie    5595 non-null   object
 10  waarde              5595 non-null   float64
 11  eenheid             5595 non-null   object
 12  x_ml72              5595 non-null   float64
 13  y_ml72              5595 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 612.1+ KB

,projectdeel,peilbuis,filter_van_m,filter_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,R1O1,PBC3,NaN,14.9,182,PBC3,2022/02/04,RoTS/WiBo,PFHxS,=,5.0,ng/l,154735.956833,213286.10449
1,R1O1,P406,4.1,6.1,88,LD_406,2021/09/23,RoTS/WiBo,8:2 FTS,<,2.0,ng/l,154457.340000,213702.00000
2,KZ,StadAnt_280,3.4,4.4,248,StadAnt_280-1-1 StadAnt_280,2022/01/25,RoTS/Sweco,PFHxDA,<,1.0,ng/l,152803.809990,214595.20000
3,R1O1,P402a,9.1,10.1,77,LD_402a,2021/08/19,RoTS/WiBo,10:2 FTS,<,4.0,ng/l,154374.470000,213884.06000
4,STLO,PFAS-Diep-PB5,21.0,23.0,195,PFAS-Diep-PB5-1-2 PFAS-Diep-PB5,2021/12/08,RoTS/Sweco,PFHxDA,<,1.0,ng/l,149800.908600,214023.70810

In [12]:
# Migration_OVAM
df[5].info()
df[5].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 480 non-null    int64
 1   opdracht           480 non-null    int64
 2   pfasdossiernr      480 non-null    int64
 3   profielnaam        480 non-null    object
 4   top_in_m           480 non-null    float64
 5   basis_in_m         480 non-null    float64
 6   jaar               480 non-null    int64
 7   datum              480 non-null    object
 8   parameter          480 non-null    object
 9   detectieconditie   480 non-null    object
 10  meetwaarde         480 non-null    float64
 11  meeteenheid        480 non-null    object
 12  medium             480 non-null    object
 13  profieltype        480 non-null    object
 14  plaatsing_profiel  480 non-null    object
 15  commentaar         480 non-null    object
 16  x_ml72             480 non-null    float64
 17  y_ml72             480 non-null    float64
dtypes: float64(5), int64(4), object(9)
memory usage: 67.6+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,32502917,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,PFHxDA,<,1.00,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0
1,32502918,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,PFOSAtotal,<,0.10,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0
2,32502919,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,PFDA,<,0.10,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0
3,32502920,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,8:2 FTS,<,0.30,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0
4,32502921,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,PFBA,=,6.78,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0

In [13]:
# Pure_product_OVAM
df[6].info()
df[6].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 537 non-null    int64
 1   opdracht           537 non-null    int64
 2   pfasdossiernr      537 non-null    int64
 3   profielnaam        537 non-null    object
 4   top_in_m           537 non-null    float64
 5   basis_in_m         537 non-null    float64
 6   jaar               537 non-null    int64
 7   datum              537 non-null    object
 8   parameter          537 non-null    object
 9   detectieconditie   537 non-null    object
 10  meetwaarde         537 non-null    float64
 11  meeteenheid        537 non-null    object
 12  medium             537 non-null    object
 13  profieltype        537 non-null    object
 14  plaatsing_profiel  537 non-null    object
 15  commentaar         537 non-null    object
 16  x_ml72             537 non-null    float64
 17  y_ml72             537 non-null    float64
dtypes: float64(5), int64(4), object(9)
memory usage: 75.6+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,32936065,14048724,97883,S02,3.0,3.2,2022,2022-05-27,PFTeDA,<,0.47,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0
1,32936066,14048724,97883,S02,3.0,3.2,2022,2022-05-27,4:2 FTS,<,0.47,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0
2,32936067,14048724,97883,S02,3.0,3.2,2022,2022-05-27,PFNS,<,0.47,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0
3,32936068,14048724,97883,S02,3.0,3.2,2022,2022-05-27,PFAS Som indicatief,<,2.82,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0
4,32936069,14048724,97883,S02,3.0,3.2,2022,2022-05-27,MePFOSAtotal,<,0.47,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0

In [14]:
# Rainwater_OVAM
df[7].info()
df[7].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 95 non-null     int64
 1   opdracht           95 non-null     int64
 2   pfasdossiernr      95 non-null     int64
 3   profielnaam        95 non-null     object
 4   top_in_m           95 non-null     float64
 5   basis_in_m         95 non-null     float64
 6   jaar               95 non-null     int64
 7   datum              95 non-null     object
 8   parameter          95 non-null     object
 9   detectieconditie   95 non-null     object
 10  meetwaarde         95 non-null     float64
 11  meeteenheid        95 non-null     object
 12  medium             95 non-null     object
 13  profieltype        95 non-null     object
 14  plaatsing_profiel  0 non-null      float64
 15  commentaar         95 non-null     object
 16  x_ml72             95 non-null     float64
 17  y_ml72             95 non-null     float64
dtypes: float64(6), int64(4), object(8)
memory usage: 13.5+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31427010,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFHxStotal,=,19.20,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4
1,31427011,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFOStotal,=,203.00,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4
2,31427012,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFOStotal,=,176.00,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4
3,31427013,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFOSAtotal,=,14.40,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4
4,31427014,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFOSAtotal,=,8.31,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4

In [15]:
# Soil_OVAM
df[8].info()
df[8].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200142 entries, 0 to 200141
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 200142 non-null  int64
 1   opdracht           200142 non-null  int64
 2   pfasdossiernr      200142 non-null  int64
 3   profielnaam        200142 non-null  object
 4   top_in_m           200142 non-null  float64
 5   basis_in_m         200142 non-null  float64
 6   jaar               200142 non-null  int64
 7   datum              200142 non-null  object
 8   parameter          200142 non-null  object
 9   detectieconditie   200142 non-null  object
 10  meetwaarde         200142 non-null  float64
 11  meeteenheid        200142 non-null  object
 12  medium             200142 non-null  object
 13  profieltype        200142 non-null  object
 14  plaatsing_profiel  195505 non-null  object
 15  commentaar         200142 non-null  object
 16  x_ml72             200142 non-null  float64
 17  y_ml72             200142 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 27.5+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063144,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFHxStotal,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
1,31063147,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFPA,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
2,31063151,13077062,6180,108,0.5,0.7,2021,2021-06-01,8:2 diPAP,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
3,31063157,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFPeS,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
4,31063159,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFNS,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0

In [16]:
# Soil_Lantis
df[9].info()
df[9].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100798 entries, 0 to 100797
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   projectdeel         100681 non-null  object
 1   boring              100798 non-null  object
 2   diepte_van_m        100798 non-null  float64
 3   diepte_tot_m        100798 non-null  float64
 4   nummer              100798 non-null  int64
 5   analysemonster      100798 non-null  object
 6   datum_bemonstering  92299 non-null   object
 7   gegevens            100798 non-null  object
 8   parameter           100798 non-null  object
 9   detectieconditie    100798 non-null  object
 10  waarde              100798 non-null  float64
 11  eenheid             100798 non-null  object
 12  x_ml72              100798 non-null  float64
 13  y_ml72              100798 non-null  float64
dtypes: float64(5), int64(1), object(8)
memory usage: 10.8+ MB

,projectdeel,boring,diepte_van_m,diepte_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS,=,7.3,µg/kg ds,149401.99,213878.69
1,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS kwantitatief,=,7.3,µg/kg ds,149401.99,213878.69
2,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS indicatief,=,0.0,µg/kg ds,149401.99,213878.69
3,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,som PFOA,<,5.0,µg/kg ds,149401.99,213878.69
4,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,som PFOS,=,7.3,µg/kg ds,149401.99,213878.69

In [17]:
# Soil_water_VMM
df[10].info()
df[10].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2662 entries, 0 to 2661
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   bron                                      2662 non-null   object
 1   VHA_code                                  1763 non-null   float64
 2   locatiebeschrijving                       2662 non-null   object
 3   datum                                     2662 non-null   object
 4   parameter                                 2662 non-null   object
 5   detectieconditie                          2662 non-null   object
 6   meetwaarde                                2662 non-null   float64
 7   meeteenheid                               2662 non-null   object
 8   motivatie_staalname                       2662 non-null   object
 9   medium                                    2662 non-null   object
 10  overschrijdingsfactor_tw                  0 non-null      float64
 11  beoordeling_tw                            0 non-null      float64
 12  potentieel_gebruik_bodem                  2662 non-null   object
 13  overschrijdingsfactor_vlarebo_bijlage_vi  0 non-null      float64
 14  beoordeling_bouwkundig_gebruik            0 non-null      float64
 15  X                                         2662 non-null   float64
 16  Y                                         2662 non-null   float64
dtypes: float64(8), object(9)
memory usage: 353.7+ KB

,bron,VHA_code,locatiebeschrijving,datum,parameter,detectieconditie,meetwaarde,meeteenheid,motivatie_staalname,medium,overschrijdingsfactor_tw,beoordeling_tw,potentieel_gebruik_bodem,overschrijdingsfactor_vlarebo_bijlage_vi,beoordeling_bouwkundig_gebruik,X,Y
0,VMM/ARW,6015780.0,"Eppegem, Brusselsestwg, opw brug",2021-06-03,PFOS,=,21.00,µg/kg ds,Routinemeetnet,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,156111.0,183359.0
1,VMM/ARW,31683.0,"Anderlecht, Verwelkomingsstr/Internationalelaa...",2018-05-15,PFOS,<,0.25,µg/kg ds,Routinemeetnet,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,145348.0,167154.0
2,VMM/ARW,6015541.0,"Ruisbroek, Broekweg, opw brug",2021-06-03,PFOS,<,0.25,µg/kg ds,Routinemeetnet,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,145554.0,164520.0
3,De Vlaamse Waterweg,6032063.0,,2021-06-11,PFOA,<,0.20,µg/kg ds,baggerwerken,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,124725.0,168872.0
4,De Vlaamse Waterweg,6032063.0,,2021-06-11,PFOS,=,1.10,µg/kg ds,baggerwerken,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,124725.0,168872.0

In [18]:
# Soil_water_OVAM
df[11].info()
df[11].head()

<class 'pandas.core.frame.DataFrame'>
Index: 1628 entries, 0 to 1706
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1628 non-null   int64
 1   opdracht           1628 non-null   int64
 2   pfasdossiernr      1628 non-null   int64
 3   profielnaam        1628 non-null   object
 4   top_in_m           1406 non-null   float64
 5   basis_in_m         1406 non-null   float64
 6   jaar               1628 non-null   int64
 7   datum              1628 non-null   object
 8   parameter          1628 non-null   object
 9   detectieconditie   1628 non-null   object
 10  meetwaarde         1628 non-null   float64
 11  meeteenheid        1628 non-null   object
 12  medium             1628 non-null   object
 13  profieltype        1628 non-null   object
 14  plaatsing_profiel  1628 non-null   object
 15  commentaar         1628 non-null   object
 16  x_ml72             1628 non-null   float64
 17  y_ml72             1628 non-null   float64
dtypes: float64(5), int64(4), object(9)
memory usage: 241.7+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,32157495,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,PFNS,<,0.20,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76
1,32157496,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,PFBA,=,0.82,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76
2,32157497,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,PFBSA,<,0.20,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76
3,32157498,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,6:2 FTS,<,0.21,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76
4,32157499,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,PFDoDS,<,0.32,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76

In [19]:
# Surface_water_VMM
df[12].info()
df[12].head()

<class 'pandas.core.frame.DataFrame'>
Index: 79 entries, 336 to 670
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 79 non-null     int64
 1   opdracht           79 non-null     int64
 2   pfasdossiernr      79 non-null     int64
 3   profielnaam        79 non-null     object
 4   top_in_m           79 non-null     float64
 5   basis_in_m         79 non-null     float64
 6   jaar               79 non-null     int64
 7   datum              79 non-null     object
 8   parameter          79 non-null     object
 9   detectieconditie   79 non-null     object
 10  meetwaarde         79 non-null     float64
 11  meeteenheid        79 non-null     object
 12  medium             79 non-null     object
 13  profieltype        79 non-null     object
 14  plaatsing_profiel  79 non-null     object
 15  commentaar         79 non-null     object
 16  x_ml72             79 non-null     float64
 17  y_ml72             79 non-null     float64
dtypes: float64(5), int64(4), object(9)
memory usage: 11.7+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
336,33518013,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,PFNS,<,0.47,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0
337,33518014,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,MePFBSAA,<,0.47,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0
338,33518015,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,PFTrDA,<,0.47,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0
339,33518016,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,8:2 diPAP,<,0.47,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0
340,33518017,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,PFODA,<,2.80,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0

In [20]:
# Surface_water_OVAM
df[13].info()
df[13].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64840 entries, 0 to 64839
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ogc_fid           64840 non-null  int64
 1   meetplaats        64840 non-null  object
 2   x_mL72            64840 non-null  int64
 3   y_mL72            64840 non-null  int64
 4   jaar              64840 non-null  int64
 5   datum             64840 non-null  object
 6   parameter         64840 non-null  object
 7   detectieconditie  64840 non-null  object
 8   meetwaarde        64840 non-null  float64
 9   meeteenheid       64840 non-null  object
 10  omschrijving      64662 non-null  object
 11  vha_segment_code  64840 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 5.9+ MB

,ogc_fid,meetplaats,x_mL72,y_mL72,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,omschrijving,vha_segment_code
0,1,102500,228750,210246,2022,2022-02-16,10:2 FTS,<,3.95,ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296
1,2,102500,228750,210246,2022,2022-03-11,10:2 FTS,<,3.95,ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296
2,3,102500,228750,210246,2022,2022-04-14,10:2 FTS,<,3.95,ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296
3,4,102500,228750,210246,2022,2022-06-07,10:2 FTS,<,3.95,ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296
4,5,102500,228750,210246,2022,2022-07-29,10:2 FTS,<,3.95,ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296

In [21]:
# Waste_water_VMM
df[14].info()
df[14].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838 entries, 0 to 3837
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3838 non-null   int64
 1   opdracht           3838 non-null   int64
 2   pfasdossiernr      3838 non-null   int64
 3   profielnaam        3838 non-null   object
 4   top_in_m           2670 non-null   float64
 5   basis_in_m         2670 non-null   float64
 6   jaar               3838 non-null   int64
 7   datum              3838 non-null   object
 8   parameter          3838 non-null   object
 9   detectieconditie   3838 non-null   object
 10  meetwaarde         3838 non-null   float64
 11  meeteenheid        3838 non-null   object
 12  medium             3838 non-null   object
 13  profieltype        3838 non-null   object
 14  plaatsing_profiel  2576 non-null   object
 15  commentaar         3838 non-null   object
 16  x_ml72             3838 non-null   float64
 17  y_ml72             3838 non-null   float64
dtypes: float64(5), int64(4), object(9)
memory usage: 539.8+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31427456,13269077,732,12,0.0,0.0,2018,2018-07-09,PFHxStotal,=,34.600,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33
1,31427457,13269077,732,12,0.0,0.0,2018,2018-07-09,PFOStotal,=,449.000,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33
2,31427458,13269077,732,12,0.0,0.0,2018,2018-07-09,PFOAtotal,=,121.000,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33
3,31427459,13269077,732,12,0.0,0.0,2018,2018-07-09,PFOSAtotal,=,0.655,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33
4,31427460,13269077,732,12,0.0,0.0,2018,2018-01-22,PFHxStotal,=,9.850,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33

### Example 2 : You only want to download the groundwater data of Flanders

In [22]:
medium = ['groundwater']
location = Within(Box(15000, 150000, 270000, 250000))  # Bounding box Flanders
rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None)[0]

2023-08-28 13:25:27.408 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/015] ...............
[000/001] .

2023-08-28 13:45:44.730 | INFO     | PFAS_concentrations:main:1005 - The program was executed in 0:20:17.322227.

In [23]:
# Groundwater_VMM
df[0].info()
df[0].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10817 entries, 0 to 10816
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pkey_grondwatermonster        10817 non-null  object
 1   grondwatermonsternummer       10817 non-null  object
 2   pkey_grondwaterlocatie        10817 non-null  object
 3   gw_id                         10817 non-null  object
 4   pkey_filter                   10817 non-null  object
 5   filternummer                  10817 non-null  object
 6   x                             10817 non-null  float64
 7   y                             10817 non-null  float64
 8   start_grondwaterlocatie_mtaw  10817 non-null  float64
 9   gemeente                      10817 non-null  object
 10  datum_monstername             10817 non-null  datetime64[ns]
 11  parametergroep                10817 non-null  object
 12  parameter                     10817 non-null  object
 13  detectie                      9377 non-null   object
 14  waarde                        10817 non-null  float64
 15  eenheid                       10817 non-null  object
 16  veld_labo                     10817 non-null  object
 17  aquifer_code                  10769 non-null  object
 18  diepte_onderkant_filter       10817 non-null  float64
 19  lengte_filter                 10817 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 1.7+ MB

,pkey_grondwatermonster,grondwatermonsternummer,pkey_grondwaterlocatie,gw_id,pkey_filter,filternummer,x,y,start_grondwaterlocatie_mtaw,gemeente,datum_monstername,parametergroep,parameter,detectie,waarde,eenheid,veld_labo,aquifer_code,diepte_onderkant_filter,lengte_filter
0,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFOSA,<,1.0,ng/l,LABO,0233,5.0,0.5
1,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFOA,NaN,2.0,ng/l,LABO,0233,5.0,0.5
2,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFDA,<,1.0,ng/l,LABO,0233,5.0,0.5
3,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFOStotal,NaN,1.0,ng/l,LABO,0233,5.0,0.5
4,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFBS,NaN,32.0,ng/l,LABO,0233,5.0,0.5

In [24]:
# Groundwater_OVAM
df[1].info()
df[1].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143890 entries, 0 to 143889
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 143890 non-null  int64
 1   opdracht           143890 non-null  int64
 2   pfasdossiernr      143890 non-null  int64
 3   profielnaam        143890 non-null  object
 4   top_in_m           143799 non-null  float64
 5   basis_in_m         143799 non-null  float64
 6   jaar               143890 non-null  int64
 7   datum              143890 non-null  object
 8   parameter          143890 non-null  object
 9   detectieconditie   143890 non-null  object
 10  meetwaarde         143890 non-null  float64
 11  meeteenheid        143771 non-null  object
 12  medium             143890 non-null  object
 13  profieltype        143890 non-null  object
 14  plaatsing_profiel  141333 non-null  object
 15  commentaar         143890 non-null  object
 16  x_ml72             143890 non-null  float64
 17  y_ml72             143890 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 19.8+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063070,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFHpS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
1,31063071,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
2,31063072,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,HFPO-DA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
3,31063073,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFODA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
4,31063074,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0

In [25]:
# Groundwater_Lantis
df[2].info()
df[2].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595 entries, 0 to 5594
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   projectdeel         5595 non-null   object
 1   peilbuis            5595 non-null   object
 2   filter_van_m        4778 non-null   float64
 3   filter_tot_m        5122 non-null   float64
 4   nummer              5595 non-null   int64
 5   analysemonster      5595 non-null   object
 6   datum_bemonstering  5595 non-null   object
 7   gegevens            5595 non-null   object
 8   parameter           5595 non-null   object
 9   detectieconditie    5595 non-null   object
 10  waarde              5595 non-null   float64
 11  eenheid             5595 non-null   object
 12  x_ml72              5595 non-null   float64
 13  y_ml72              5595 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 612.1+ KB

,projectdeel,peilbuis,filter_van_m,filter_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,R1O1,PBC3,NaN,14.9,182,PBC3,2022/02/04,RoTS/WiBo,PFHxS,=,5.0,ng/l,154735.956833,213286.10449
1,R1O1,P406,4.1,6.1,88,LD_406,2021/09/23,RoTS/WiBo,8:2 FTS,<,2.0,ng/l,154457.340000,213702.00000
2,KZ,StadAnt_280,3.4,4.4,248,StadAnt_280-1-1 StadAnt_280,2022/01/25,RoTS/Sweco,PFHxDA,<,1.0,ng/l,152803.809990,214595.20000
3,R1O1,P402a,9.1,10.1,77,LD_402a,2021/08/19,RoTS/WiBo,10:2 FTS,<,4.0,ng/l,154374.470000,213884.06000
4,STLO,PFAS-Diep-PB5,21.0,23.0,195,PFAS-Diep-PB5-1-2 PFAS-Diep-PB5,2021/12/08,RoTS/Sweco,PFHxDA,<,1.0,ng/l,149800.908600,214023.70810

### Example 3 : You want to download the soil and groundwater data of Flanders

In [26]:
medium = ['soil', 'groundwater']
location = Within(Box(15000, 150000, 270000, 250000))  # Bounding box Flanders
rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None)[0]

2023-08-28 13:45:45.033 | INFO     | PFAS_concentrations:soil:427 - Downloading soil data

[000/021] .....................
[000/011] ...........

2023-08-28 14:25:00.986 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/015] ...............
[000/001] .

2023-08-28 14:45:03.990 | INFO     | PFAS_concentrations:main:1005 - The program was executed in 0:59:18.957347.

In [27]:
# Soil_OVAM
df[0].info()
df[0].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200142 entries, 0 to 200141
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 200142 non-null  int64
 1   opdracht           200142 non-null  int64
 2   pfasdossiernr      200142 non-null  int64
 3   profielnaam        200142 non-null  object
 4   top_in_m           200142 non-null  float64
 5   basis_in_m         200142 non-null  float64
 6   jaar               200142 non-null  int64
 7   datum              200142 non-null  object
 8   parameter          200142 non-null  object
 9   detectieconditie   200142 non-null  object
 10  meetwaarde         200142 non-null  float64
 11  meeteenheid        200142 non-null  object
 12  medium             200142 non-null  object
 13  profieltype        200142 non-null  object
 14  plaatsing_profiel  195505 non-null  object
 15  commentaar         200142 non-null  object
 16  x_ml72             200142 non-null  float64
 17  y_ml72             200142 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 27.5+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063144,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFHxStotal,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
1,31063147,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFPA,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
2,31063151,13077062,6180,108,0.5,0.7,2021,2021-06-01,8:2 diPAP,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
3,31063157,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFPeS,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
4,31063159,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFNS,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0

In [28]:
# Soil_Lantis
df[1].info()
df[1].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100798 entries, 0 to 100797
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   projectdeel         100681 non-null  object
 1   boring              100798 non-null  object
 2   diepte_van_m        100798 non-null  float64
 3   diepte_tot_m        100798 non-null  float64
 4   nummer              100798 non-null  int64
 5   analysemonster      100798 non-null  object
 6   datum_bemonstering  92299 non-null   object
 7   gegevens            100798 non-null  object
 8   parameter           100798 non-null  object
 9   detectieconditie    100798 non-null  object
 10  waarde              100798 non-null  float64
 11  eenheid             100798 non-null  object
 12  x_ml72              100798 non-null  float64
 13  y_ml72              100798 non-null  float64
dtypes: float64(5), int64(1), object(8)
memory usage: 10.8+ MB

,projectdeel,boring,diepte_van_m,diepte_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS,=,7.3,µg/kg ds,149401.99,213878.69
1,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS kwantitatief,=,7.3,µg/kg ds,149401.99,213878.69
2,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS indicatief,=,0.0,µg/kg ds,149401.99,213878.69
3,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,som PFOA,<,5.0,µg/kg ds,149401.99,213878.69
4,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,som PFOS,=,7.3,µg/kg ds,149401.99,213878.69

In [29]:
# Groundwater_VMM
df[2].info()
df[2].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10817 entries, 0 to 10816
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pkey_grondwatermonster        10817 non-null  object
 1   grondwatermonsternummer       10817 non-null  object
 2   pkey_grondwaterlocatie        10817 non-null  object
 3   gw_id                         10817 non-null  object
 4   pkey_filter                   10817 non-null  object
 5   filternummer                  10817 non-null  object
 6   x                             10817 non-null  float64
 7   y                             10817 non-null  float64
 8   start_grondwaterlocatie_mtaw  10817 non-null  float64
 9   gemeente                      10817 non-null  object
 10  datum_monstername             10817 non-null  datetime64[ns]
 11  parametergroep                10817 non-null  object
 12  parameter                     10817 non-null  object
 13  detectie                      9377 non-null   object
 14  waarde                        10817 non-null  float64
 15  eenheid                       10817 non-null  object
 16  veld_labo                     10817 non-null  object
 17  aquifer_code                  10769 non-null  object
 18  diepte_onderkant_filter       10817 non-null  float64
 19  lengte_filter                 10817 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 1.7+ MB

,pkey_grondwatermonster,grondwatermonsternummer,pkey_grondwaterlocatie,gw_id,pkey_filter,filternummer,x,y,start_grondwaterlocatie_mtaw,gemeente,datum_monstername,parametergroep,parameter,detectie,waarde,eenheid,veld_labo,aquifer_code,diepte_onderkant_filter,lengte_filter
0,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFOSA,<,1.0,ng/l,LABO,0233,5.0,0.5
1,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFOA,NaN,2.0,ng/l,LABO,0233,5.0,0.5
2,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFDA,<,1.0,ng/l,LABO,0233,5.0,0.5
3,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFOStotal,NaN,1.0,ng/l,LABO,0233,5.0,0.5
4,https://www.dov.vlaanderen.be/data/watermonste...,861/61/2-F2/MPF2101,https://www.dov.vlaanderen.be/data/put/2017-00...,861/61/2,https://www.dov.vlaanderen.be/data/filter/2003...,2,143922.46875,214154.21875,3.0,Beveren,2021-07-27,Grondwater_chemisch_PFAS,PFBS,NaN,32.0,ng/l,LABO,0233,5.0,0.5

In [30]:
# Groundwater_OVAM
df[3].info()
df[3].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143890 entries, 0 to 143889
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 143890 non-null  int64
 1   opdracht           143890 non-null  int64
 2   pfasdossiernr      143890 non-null  int64
 3   profielnaam        143890 non-null  object
 4   top_in_m           143799 non-null  float64
 5   basis_in_m         143799 non-null  float64
 6   jaar               143890 non-null  int64
 7   datum              143890 non-null  object
 8   parameter          143890 non-null  object
 9   detectieconditie   143890 non-null  object
 10  meetwaarde         143890 non-null  float64
 11  meeteenheid        143771 non-null  object
 12  medium             143890 non-null  object
 13  profieltype        143890 non-null  object
 14  plaatsing_profiel  141333 non-null  object
 15  commentaar         143890 non-null  object
 16  x_ml72             143890 non-null  float64
 17  y_ml72             143890 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 19.8+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063070,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFHpS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
1,31063071,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
2,31063072,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,HFPO-DA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
3,31063073,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFODA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
4,31063074,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0

In [31]:
# Groundwater_Lantis
df[4].info()
df[4].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595 entries, 0 to 5594
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   projectdeel         5595 non-null   object
 1   peilbuis            5595 non-null   object
 2   filter_van_m        4778 non-null   float64
 3   filter_tot_m        5122 non-null   float64
 4   nummer              5595 non-null   int64
 5   analysemonster      5595 non-null   object
 6   datum_bemonstering  5595 non-null   object
 7   gegevens            5595 non-null   object
 8   parameter           5595 non-null   object
 9   detectieconditie    5595 non-null   object
 10  waarde              5595 non-null   float64
 11  eenheid             5595 non-null   object
 12  x_ml72              5595 non-null   float64
 13  y_ml72              5595 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 612.1+ KB

,projectdeel,peilbuis,filter_van_m,filter_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,R1O1,PBC3,NaN,14.9,182,PBC3,2022/02/04,RoTS/WiBo,PFHxS,=,5.0,ng/l,154735.956833,213286.10449
1,R1O1,P406,4.1,6.1,88,LD_406,2021/09/23,RoTS/WiBo,8:2 FTS,<,2.0,ng/l,154457.340000,213702.00000
2,KZ,StadAnt_280,3.4,4.4,248,StadAnt_280-1-1 StadAnt_280,2022/01/25,RoTS/Sweco,PFHxDA,<,1.0,ng/l,152803.809990,214595.20000
3,R1O1,P402a,9.1,10.1,77,LD_402a,2021/08/19,RoTS/WiBo,10:2 FTS,<,4.0,ng/l,154374.470000,213884.06000
4,STLO,PFAS-Diep-PB5,21.0,23.0,195,PFAS-Diep-PB5-1-2 PFAS-Diep-PB5,2021/12/08,RoTS/Sweco,PFHxDA,<,1.0,ng/l,149800.908600,214023.70810

### Example 4 : You want to download the combined groundwater PFAS data of Flanders

In [38]:
medium = ['combined_groundwater']
location = Within(Box(15000, 150000, 270000, 250000))  # Bounding box Flanders
rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None)[0]

2023-08-28 16:52:39.859 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/015] ...............
[000/001] .

2023-08-28 17:16:06.337 | INFO     | PFAS_concentrations:main:1005 - The program was executed in 0:23:26.477756.

In [39]:
# combined_groundwater
df[0].info()
df[0].head()

<class 'pandas.core.frame.DataFrame'>
Index: 160302 entries, 0 to 5594
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                160302 non-null  object
 1   datum             160302 non-null  object
 2   x_m_L72           160302 non-null  float64
 3   y_m_L72           160302 non-null  float64
 4   top_m_mv          159394 non-null  float64
 5   basis_m_mv        159738 non-null  float64
 6   parameter         160302 non-null  object
 7   detectieconditie  158862 non-null  object
 8   meetwaarde        160302 non-null  float64
 9   meeteenheid       160183 non-null  object
 10  bron              160302 non-null  object
dtypes: float64(5), object(6)
memory usage: 14.7+ MB

,id,datum,x_m_L72,y_m_L72,top_m_mv,basis_m_mv,parameter,detectieconditie,meetwaarde,meeteenheid,bron
0,861/61/2-F2/MPF2101,2021-07-27 00:00:00,143922.46875,214154.21875,4.5,5.0,PFOSA,<,1.0,ng/l,VMM
1,861/61/2-F2/MPF2101,2021-07-27 00:00:00,143922.46875,214154.21875,4.5,5.0,PFOA,NaN,2.0,ng/l,VMM
2,861/61/2-F2/MPF2101,2021-07-27 00:00:00,143922.46875,214154.21875,4.5,5.0,PFDA,<,1.0,ng/l,VMM
3,861/61/2-F2/MPF2101,2021-07-27 00:00:00,143922.46875,214154.21875,4.5,5.0,PFOStotal,NaN,1.0,ng/l,VMM
4,861/61/2-F2/MPF2101,2021-07-27 00:00:00,143922.46875,214154.21875,4.5,5.0,PFBS,NaN,32.0,ng/l,VMM