# Tutorial to download (and save) PFAS-data from DOV through pydov

In [1]:
from PFAS_concentrations import RequestPFASdata
from pydov.util.location import Within, Box

Check out the query and customization options from pydov.\
You can query on [location](https://pydov.readthedocs.io/en/stable/query_location.html) and also [restrict the number of WFS features returned](https://pydov.readthedocs.io/en/stable/sort_limit.html).

## Case 1 : You want to save the data

### Example 1 : You want to download and save all the PFAS data of Flanders

In [2]:
medium = ['all']
location = Within(Box(15000, 150000, 270000, 250000, epsg=31370))  # Bounding box Flanders

rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None, save=True)[0]

2024-05-30 10:59:58.275 | INFO     | PFAS_concentrations:biota:152 - Downloading biota data

[000/001] .

2024-05-30 11:00:13.125 | INFO     | PFAS_concentrations:effluent:190 - Downloading effluent data

[000/001] .

2024-05-30 11:00:16.821 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/033] .................................
[000/001] .

2024-05-30 11:35:16.292 | INFO     | PFAS_concentrations:migration:292 - Downloading migration data

[000/001] .

2024-05-30 11:35:22.538 | INFO     | PFAS_concentrations:pure_product:339 - Downloading pure product data

[000/001] .

2024-05-30 11:35:28.203 | INFO     | PFAS_concentrations:rainwater:386 - Downloading rainwater data

[000/001] .

2024-05-30 11:35:31.701 | INFO     | PFAS_concentrations:soil:427 - Downloading soil data

[000/042] ..........................................
[000/011] ...........

2024-05-30 12:26:48.912 | INFO     | PFAS_concentrations:soil_water:479 - Downloading soilwater data

[000/001] .
[000/001] .

2024-05-30 12:27:39.760 | INFO     | PFAS_concentrations:surface_water:538 - Downloading surface water data

[000/010] ..........
[000/001] .

2024-05-30 12:34:59.275 | INFO     | PFAS_concentrations:waste_water:590 - Downloading waste water data

[000/013] .............

2024-05-30 12:49:18.512 | INFO     | PFAS_concentrations:air:625 - Downloading air data

[000/004] ....
[000/001] .
[000/001] .

  0%|          | 0/2092908 [00:00<?, ?it/s]

2024-05-30 13:06:51.496 | INFO     | PFAS_concentrations:main:1086 - The program was executed in 2:06:53.220766.

### Example 2 : You only want to download and save the groundwater data of Flanders

In [3]:
medium = ['groundwater']
location = Within(Box(15000, 150000, 270000, 250000, epsg=31370))  # Bounding box Flanders

rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None, save=True)[0]

2024-05-30 13:06:51.612 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/033] .................................
[000/001] .

  0%|          | 0/341725 [00:00<?, ?it/s]

2024-05-30 13:50:40.203 | INFO     | PFAS_concentrations:main:1086 - The program was executed in 0:43:48.591244.

### Example 3 : You want to download and save the soil and groundwater data of Flanders

In [4]:
medium = ['soil', 'groundwater']
location = Within(Box(15000, 150000, 270000, 250000, epsg=31370))  # Bounding box Flanders

rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None, save=True)[0]

2024-05-30 13:50:41.274 | INFO     | PFAS_concentrations:soil:427 - Downloading soil data

[000/042] ..........................................
[000/011] ...........

2024-05-30 15:31:27.771 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/033] .................................
[000/001] .

  0%|          | 0/852633 [00:00<?, ?it/s]

2024-05-30 16:56:33.720 | INFO     | PFAS_concentrations:main:1086 - The program was executed in 3:05:52.446119.

### Example 4 : You want to download and save the combined groundwater PFAS data of Flanders

In [5]:
medium = ['combined_groundwater']
location = Within(Box(15000, 150000, 270000, 250000, epsg=31370))  # Bounding box Flanders

rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None, save=True)[0]

2024-05-30 16:56:34.056 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/033] .................................
[000/001] .

  0%|          | 0/341725 [00:00<?, ?it/s]

2024-05-30 17:55:22.257 | INFO     | PFAS_concentrations:main:1086 - The program was executed in 0:58:48.201765.

## Case 2 : You want the data in a dataframe to integrate it in your python script

### Example 1 : You want to download all the PFAS data of Flanders

In [6]:
medium = ['all']
location = Within(Box(15000, 150000, 270000, 250000, epsg=31370))  # Bounding box Flanders
rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None)[0]

2024-05-30 18:54:58.863 | INFO     | PFAS_concentrations:biota:152 - Downloading biota data

[000/001] .

2024-05-30 18:55:13.120 | INFO     | PFAS_concentrations:effluent:190 - Downloading effluent data

[000/001] .

2024-05-30 18:55:16.896 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/033] .................................
[000/001] .

2024-05-30 19:36:42.455 | INFO     | PFAS_concentrations:migration:292 - Downloading migration data

[000/001] .

2024-05-30 19:36:48.836 | INFO     | PFAS_concentrations:pure_product:339 - Downloading pure product data

[000/001] .

2024-05-30 19:36:55.481 | INFO     | PFAS_concentrations:rainwater:386 - Downloading rainwater data

[000/001] .

2024-05-30 19:36:59.413 | INFO     | PFAS_concentrations:soil:427 - Downloading soil data

[000/042] ..........................................
[000/011] ...........

2024-05-30 20:37:17.972 | INFO     | PFAS_concentrations:soil_water:479 - Downloading soilwater data

[000/001] .
[000/001] .

2024-05-30 20:38:17.593 | INFO     | PFAS_concentrations:surface_water:538 - Downloading surface water data

[000/010] ..........
[000/001] .

2024-05-30 20:46:58.441 | INFO     | PFAS_concentrations:waste_water:590 - Downloading waste water data

[000/013] .............

2024-05-30 21:04:02.834 | INFO     | PFAS_concentrations:air:625 - Downloading air data

[000/004] ....
[000/001] .
[000/001] .

2024-05-30 21:08:20.025 | INFO     | PFAS_concentrations:main:1086 - The program was executed in 2:13:21.162254.

In [7]:
# Biota_VMM
df[0].info()
df[0].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2627 non-null   int64
 1   meetplaats        2627 non-null   object
 2   x_mL72            2627 non-null   int64
 3   y_mL72            2627 non-null   int64
 4   jaar              2627 non-null   int64
 5   datum             2627 non-null   object
 6   parameter         2627 non-null   object
 7   detectieconditie  2627 non-null   object
 8   meetwaarde        2627 non-null   float64
 9   meeteenheid       2627 non-null   object
 10  omschrijving      2599 non-null   object
 11  vha_segment_code  2627 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 246.4+ KB

,id,meetplaats,x_mL72,y_mL72,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,omschrijving,vha_segment_code
0,1,12000,104330,218850,2020,2020-07-13,PFOS,=,2.300,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988
1,2,12000,104330,218850,2020,2020-07-13,PFOS,=,1.490,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988
2,3,12000,104330,218850,2020,2020-07-13,PFOS,=,2.400,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988
3,4,12000,104330,218850,2016,2016-10-14,PFBA,<,0.135,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988
4,5,12000,104330,218850,2016,2016-10-14,PFDA,<,0.824,µg/kg ng,"Philippine,Isabellahaven,Dijckmeesterweg",6019988

In [8]:
# Effluent_OVAM
df[1].info()
df[1].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 93 non-null     int64
 1   opdracht           93 non-null     int64
 2   pfasdossiernr      93 non-null     int64
 3   profielnaam        93 non-null     object
 4   top_in_m           93 non-null     float64
 5   basis_in_m         93 non-null     float64
 6   jaar               93 non-null     int64
 7   datum              93 non-null     object
 8   parameter          93 non-null     object
 9   detectieconditie   93 non-null     object
 10  meetwaarde         93 non-null     float64
 11  meeteenheid        93 non-null     object
 12  medium             93 non-null     object
 13  profieltype        93 non-null     object
 14  plaatsing_profiel  0 non-null      float64
 15  commentaar         93 non-null     object
 16  x_ml72             93 non-null     float64
 17  y_ml72             93 non-null     float64
dtypes: float64(6), int64(4), object(8)
memory usage: 13.2+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31426742,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-07-31,PFHxStotaal,<,0.152,µg/l,Effluent,Staal,NaN,,147811.54,213425.03
1,31426743,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-07-31,PFOAtotaal,<,0.252,µg/l,Effluent,Staal,NaN,,147811.54,213425.03
2,31426744,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-07-31,PFOSAtotaal,<,0.256,µg/l,Effluent,Staal,NaN,,147811.54,213425.03
3,31426745,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-07-31,PFOStotaal,<,0.185,µg/l,Effluent,Staal,NaN,,147811.54,213425.03
4,31426746,13269077,732,Effluent WWTP,0.0,0.0,2019,2019-04-25,PFOSAtotaal,=,0.223,µg/l,Effluent,Staal,NaN,,147811.54,213425.03

In [9]:
# Groundwater_VMM
df[2].info()
df[2].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10817 entries, 0 to 10816
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pkey_grondwatermonster        10817 non-null  object
 1   grondwatermonsternummer       10817 non-null  object
 2   pkey_grondwaterlocatie        10817 non-null  object
 3   gw_id                         10817 non-null  object
 4   pkey_filter                   10817 non-null  object
 5   filternummer                  10817 non-null  object
 6   x                             10817 non-null  float64
 7   y                             10817 non-null  float64
 8   start_grondwaterlocatie_mtaw  10817 non-null  float64
 9   gemeente                      10817 non-null  object
 10  datum_monstername             10817 non-null  datetime64[ns]
 11  parametergroep                10817 non-null  object
 12  parameter                     10817 non-null  object
 13  detectie                      9377 non-null   object
 14  waarde                        10817 non-null  float64
 15  eenheid                       10817 non-null  object
 16  veld_labo                     10817 non-null  object
 17  aquifer_code                  10817 non-null  object
 18  diepte_onderkant_filter       10817 non-null  float64
 19  lengte_filter                 10817 non-null  float64
 20  top_m_mv                      10817 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(13)
memory usage: 1.7+ MB

,pkey_grondwatermonster,grondwatermonsternummer,pkey_grondwaterlocatie,gw_id,pkey_filter,filternummer,x,y,start_grondwaterlocatie_mtaw,gemeente,...,parametergroep,parameter,detectie,waarde,eenheid,veld_labo,aquifer_code,diepte_onderkant_filter,lengte_filter,top_m_mv
0,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,...,Grondwater_chemisch_PFAS,8:2 FTUCA,<,2.0,ng/l,LABO,0100,13.0,5.0,8.0
1,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,...,Grondwater_chemisch_PFAS,PFPeS,<,1.0,ng/l,LABO,0100,13.0,5.0,8.0
2,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,...,Grondwater_chemisch_PFAS,MePFOSA,<,2.0,ng/l,LABO,0100,13.0,5.0,8.0
3,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,...,Grondwater_chemisch_PFAS,PFODA,<,2.0,ng/l,LABO,0100,13.0,5.0,8.0
4,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,...,Grondwater_chemisch_PFAS,PFHpA,<,1.0,ng/l,LABO,0100,13.0,5.0,8.0

In [10]:
# Groundwater_OVAM
df[3].info()
df[3].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325313 entries, 0 to 325312
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 325313 non-null  int64
 1   opdracht           325313 non-null  int64
 2   pfasdossiernr      325313 non-null  int64
 3   profielnaam        325313 non-null  object
 4   top_in_m           323774 non-null  float64
 5   basis_in_m         323774 non-null  float64
 6   jaar               325313 non-null  int64
 7   datum              325313 non-null  object
 8   parameter          325313 non-null  object
 9   detectieconditie   325313 non-null  object
 10  meetwaarde         325313 non-null  float64
 11  meeteenheid        325176 non-null  object
 12  medium             325313 non-null  object
 13  profieltype        325313 non-null  object
 14  plaatsing_profiel  301729 non-null  object
 15  commentaar         325313 non-null  object
 16  x_ml72             325313 non-null  float64
 17  y_ml72             325313 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 44.7+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063070,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFHpS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
1,31063071,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
2,31063072,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,HFPO-DA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
3,31063073,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFODA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
4,31063074,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0

In [11]:
# Groundwater_Lantis
df[4].info()
df[4].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595 entries, 0 to 5594
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   projectdeel         5595 non-null   object
 1   peilbuis            5595 non-null   object
 2   filter_van_m        4778 non-null   float64
 3   filter_tot_m        5122 non-null   float64
 4   nummer              5595 non-null   int64
 5   analysemonster      5595 non-null   object
 6   datum_bemonstering  5595 non-null   object
 7   gegevens            5595 non-null   object
 8   parameter           5595 non-null   object
 9   detectieconditie    5595 non-null   object
 10  waarde              5595 non-null   float64
 11  eenheid             5595 non-null   object
 12  x_ml72              5595 non-null   float64
 13  y_ml72              5595 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 612.1+ KB

,projectdeel,peilbuis,filter_van_m,filter_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,R1O1,PBC3,NaN,14.9,182,PBC3,2022/02/04,RoTS/WiBo,PFHxS,=,5.0,ng/l,154735.956833,213286.10449
1,R1O1,P406,4.1,6.1,88,LD_406,2021/09/23,RoTS/WiBo,8:2 FTS,<,2.0,ng/l,154457.340000,213702.00000
2,KZ,StadAnt_280,3.4,4.4,248,StadAnt_280-1-1 StadAnt_280,2022/01/25,RoTS/Sweco,PFHxDA,<,1.0,ng/l,152803.809990,214595.20000
3,R1O1,P402a,9.1,10.1,77,LD_402a,2021/08/19,RoTS/WiBo,10:2 FTS,<,4.0,ng/l,154374.470000,213884.06000
4,STLO,PFAS-Diep-PB5,21.0,23.0,195,PFAS-Diep-PB5-1-2 PFAS-Diep-PB5,2021/12/08,RoTS/Sweco,PFHxDA,<,1.0,ng/l,149800.908600,214023.70810

In [12]:
# Migration_OVAM
df[5].info()
df[5].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 480 non-null    int64
 1   opdracht           480 non-null    int64
 2   pfasdossiernr      480 non-null    int64
 3   profielnaam        480 non-null    object
 4   top_in_m           480 non-null    float64
 5   basis_in_m         480 non-null    float64
 6   jaar               480 non-null    int64
 7   datum              480 non-null    object
 8   parameter          480 non-null    object
 9   detectieconditie   480 non-null    object
 10  meetwaarde         480 non-null    float64
 11  meeteenheid        480 non-null    object
 12  medium             480 non-null    object
 13  profieltype        480 non-null    object
 14  plaatsing_profiel  480 non-null    object
 15  commentaar         480 non-null    object
 16  x_ml72             480 non-null    float64
 17  y_ml72             480 non-null    float64
dtypes: float64(5), int64(4), object(9)
memory usage: 67.6+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,32502917,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,PFHxDA,<,1.00,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0
1,32502918,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,PFOSAtotaal,<,0.10,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0
2,32502919,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,PFDA,<,0.10,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0
3,32502920,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,8:2 FTS,<,0.30,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0
4,32502921,13777505,98809,Volkstuinlekkeroever bosbes ongewassen,0.0,0.1,2021,2021-09-02,PFBA,=,6.78,µg/kg,Migratie,Staal,2021-09-02,,151127.0,212951.0

In [13]:
# Pure_product_OVAM
df[6].info()
df[6].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 537 non-null    int64
 1   opdracht           537 non-null    int64
 2   pfasdossiernr      537 non-null    int64
 3   profielnaam        537 non-null    object
 4   top_in_m           537 non-null    float64
 5   basis_in_m         537 non-null    float64
 6   jaar               537 non-null    int64
 7   datum              537 non-null    object
 8   parameter          537 non-null    object
 9   detectieconditie   537 non-null    object
 10  meetwaarde         537 non-null    float64
 11  meeteenheid        537 non-null    object
 12  medium             537 non-null    object
 13  profieltype        537 non-null    object
 14  plaatsing_profiel  537 non-null    object
 15  commentaar         537 non-null    object
 16  x_ml72             537 non-null    float64
 17  y_ml72             537 non-null    float64
dtypes: float64(5), int64(4), object(9)
memory usage: 75.6+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,32936065,14048724,97883,S02,3.0,3.2,2022,2022-05-27,PFTeDA,<,0.47,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0
1,32936066,14048724,97883,S02,3.0,3.2,2022,2022-05-27,4:2 FTS,<,0.47,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0
2,32936067,14048724,97883,S02,3.0,3.2,2022,2022-05-27,PFNS,<,0.47,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0
3,32936068,14048724,97883,S02,3.0,3.2,2022,2022-05-27,PFAS Som indicatief,<,2.82,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0
4,32936069,14048724,97883,S02,3.0,3.2,2022,2022-05-27,MePFOSAtotaal,<,0.47,µg/kg ds,Puur product,Waterbodemstaal,2022-04-27,,166758.0,205647.0

In [14]:
# Rainwater_OVAM
df[7].info()
df[7].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 150 non-null    int64
 1   opdracht           150 non-null    int64
 2   pfasdossiernr      150 non-null    int64
 3   profielnaam        150 non-null    object
 4   top_in_m           95 non-null     float64
 5   basis_in_m         95 non-null     float64
 6   jaar               150 non-null    int64
 7   datum              150 non-null    object
 8   parameter          150 non-null    object
 9   detectieconditie   150 non-null    object
 10  meetwaarde         150 non-null    float64
 11  meeteenheid        150 non-null    object
 12  medium             150 non-null    object
 13  profieltype        150 non-null    object
 14  plaatsing_profiel  55 non-null     object
 15  commentaar         150 non-null    object
 16  x_ml72             150 non-null    float64
 17  y_ml72             150 non-null    float64
dtypes: float64(5), int64(4), object(9)
memory usage: 21.2+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31427010,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFHxStotaal,=,19.20,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4
1,31427011,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFOStotaal,=,203.00,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4
2,31427012,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFOStotaal,=,176.00,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4
3,31427013,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFOSAtotaal,=,14.40,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4
4,31427014,13269077,732,Collector pit,0.0,0.0,2018,2018-07-10,PFOSAtotaal,=,8.31,µg/l,Regenwater,Staal,NaN,,147744.05,213419.4

In [15]:
# Soil_OVAM
df[8].info()
df[8].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410110 entries, 0 to 410109
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 410110 non-null  int64
 1   opdracht           410110 non-null  int64
 2   pfasdossiernr      410110 non-null  int64
 3   profielnaam        410110 non-null  object
 4   top_in_m           410110 non-null  float64
 5   basis_in_m         410110 non-null  float64
 6   jaar               410110 non-null  int64
 7   datum              410110 non-null  object
 8   parameter          410110 non-null  object
 9   detectieconditie   410110 non-null  object
 10  meetwaarde         410110 non-null  float64
 11  meeteenheid        410110 non-null  object
 12  medium             410110 non-null  object
 13  profieltype        410110 non-null  object
 14  plaatsing_profiel  346475 non-null  object
 15  commentaar         410110 non-null  object
 16  x_ml72             410110 non-null  float64
 17  y_ml72             410110 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 56.3+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063144,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFHxStotaal,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
1,31063147,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFPeA,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
2,31063151,13077062,6180,108,0.5,0.7,2021,2021-06-01,8:2 diPAP,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
3,31063157,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFPeS,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
4,31063159,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFNS,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0

In [16]:
# Soil_Lantis
df[9].info()
df[9].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100798 entries, 0 to 100797
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   projectdeel         100681 non-null  object
 1   boring              100798 non-null  object
 2   diepte_van_m        100798 non-null  float64
 3   diepte_tot_m        100798 non-null  float64
 4   nummer              100798 non-null  int64
 5   analysemonster      100798 non-null  object
 6   datum_bemonstering  92299 non-null   object
 7   gegevens            100798 non-null  object
 8   parameter           100798 non-null  object
 9   detectieconditie    100798 non-null  object
 10  waarde              100798 non-null  float64
 11  eenheid             100798 non-null  object
 12  x_ml72              100798 non-null  float64
 13  y_ml72              100798 non-null  float64
dtypes: float64(5), int64(1), object(8)
memory usage: 10.8+ MB

,projectdeel,boring,diepte_van_m,diepte_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS,=,7.3,µg/kg ds,149401.99,213878.69
1,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS kwantitatief,=,7.3,µg/kg ds,149401.99,213878.69
2,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS indicatief,=,0.0,µg/kg ds,149401.99,213878.69
3,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,som PFOA,<,5.0,µg/kg ds,149401.99,213878.69
4,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,som PFOS,=,7.3,µg/kg ds,149401.99,213878.69

In [17]:
# Soil_water_VMM
df[10].info()
df[10].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2662 entries, 0 to 2661
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   bron                                      2662 non-null   object
 1   VHA_code                                  1763 non-null   float64
 2   locatiebeschrijving                       2662 non-null   object
 3   datum                                     2662 non-null   object
 4   parameter                                 2662 non-null   object
 5   detectieconditie                          2662 non-null   object
 6   meetwaarde                                2662 non-null   float64
 7   meeteenheid                               2662 non-null   object
 8   motivatie_staalname                       2662 non-null   object
 9   medium                                    2662 non-null   object
 10  overschrijdingsfactor_tw                  0 non-null      float64
 11  beoordeling_tw                            0 non-null      float64
 12  potentieel_gebruik_bodem                  2662 non-null   object
 13  overschrijdingsfactor_vlarebo_bijlage_vi  0 non-null      float64
 14  beoordeling_bouwkundig_gebruik            0 non-null      float64
 15  X                                         2662 non-null   float64
 16  Y                                         2662 non-null   float64
dtypes: float64(8), object(9)
memory usage: 353.7+ KB

,bron,VHA_code,locatiebeschrijving,datum,parameter,detectieconditie,meetwaarde,meeteenheid,motivatie_staalname,medium,overschrijdingsfactor_tw,beoordeling_tw,potentieel_gebruik_bodem,overschrijdingsfactor_vlarebo_bijlage_vi,beoordeling_bouwkundig_gebruik,X,Y
0,VMM/ARW,6015780.0,"Eppegem, Brusselsestwg, opw brug",2021-06-03,PFOS,=,21.00,µg/kg ds,Routinemeetnet,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,156111.0,183359.0
1,VMM/ARW,31683.0,"Anderlecht, Verwelkomingsstr/Internationalelaa...",2018-05-15,PFOS,<,0.25,µg/kg ds,Routinemeetnet,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,145348.0,167154.0
2,VMM/ARW,6015541.0,"Ruisbroek, Broekweg, opw brug",2021-06-03,PFOS,<,0.25,µg/kg ds,Routinemeetnet,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,145554.0,164520.0
3,De Vlaamse Waterweg,6032063.0,,2021-06-11,PFOA,<,0.20,µg/kg ds,baggerwerken,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,124725.0,168872.0
4,De Vlaamse Waterweg,6032063.0,,2021-06-11,PFOS,=,1.10,µg/kg ds,baggerwerken,Waterbodem - sediment,NaN,NaN,Niet beoordeelbaar,NaN,NaN,124725.0,168872.0

In [18]:
# Soil_water_OVAM
df[11].info()
df[11].head()

<class 'pandas.core.frame.DataFrame'>
Index: 4691 entries, 0 to 4769
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4691 non-null   int64
 1   opdracht           4691 non-null   int64
 2   pfasdossiernr      4691 non-null   int64
 3   profielnaam        4691 non-null   object
 4   top_in_m           4469 non-null   float64
 5   basis_in_m         4469 non-null   float64
 6   jaar               4691 non-null   int64
 7   datum              4691 non-null   object
 8   parameter          4691 non-null   object
 9   detectieconditie   4691 non-null   object
 10  meetwaarde         4691 non-null   float64
 11  meeteenheid        4691 non-null   object
 12  medium             4691 non-null   object
 13  profieltype        4691 non-null   object
 14  plaatsing_profiel  2972 non-null   object
 15  commentaar         4691 non-null   object
 16  x_ml72             4691 non-null   float64
 17  y_ml72             4691 non-null   float64
dtypes: float64(5), int64(4), object(9)
memory usage: 696.3+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,32157495,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,PFNS,<,0.20,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76
1,32157496,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,PFBA,=,0.82,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76
2,32157497,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,PFBSA,<,0.20,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76
3,32157498,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,6:2 FTS,<,0.21,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76
4,32157499,13617019,732,ERM686,0.0,0.1,2021,2021-10-08,PFDoDS,<,0.32,µg/kg ds,Waterbodem - sediment,Boring,2021-09-28,,146312.81,213203.76

In [19]:
# Surface_water_VMM
df[12].info()
df[12].head()

<class 'pandas.core.frame.DataFrame'>
Index: 79 entries, 336 to 714
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 79 non-null     int64
 1   opdracht           79 non-null     int64
 2   pfasdossiernr      79 non-null     int64
 3   profielnaam        79 non-null     object
 4   top_in_m           79 non-null     float64
 5   basis_in_m         79 non-null     float64
 6   jaar               79 non-null     int64
 7   datum              79 non-null     object
 8   parameter          79 non-null     object
 9   detectieconditie   79 non-null     object
 10  meetwaarde         79 non-null     float64
 11  meeteenheid        79 non-null     object
 12  medium             79 non-null     object
 13  profieltype        79 non-null     object
 14  plaatsing_profiel  79 non-null     object
 15  commentaar         79 non-null     object
 16  x_ml72             79 non-null     float64
 17  y_ml72             79 non-null     float64
dtypes: float64(5), int64(4), object(9)
memory usage: 11.7+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
336,33518013,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,PFNS,<,0.47,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0
337,33518014,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,MePFBSAA,<,0.47,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0
338,33518015,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,PFTrDA,<,0.47,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0
339,33518016,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,8:2 diPAP,<,0.47,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0
340,33518017,14336493,98122,Sch3,0.0,0.15,2022,2022-08-19,PFODA,<,2.80,µg/kg ds,Waterbodem - vaste deel van waterbodem,Boring,2022-08-12,,156833.0,232877.0

In [20]:
# Surface_water_OVAM
df[13].info()
df[13].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92455 entries, 0 to 92454
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ogc_fid           92455 non-null  int64
 1   meetplaats        92455 non-null  int64
 2   x_mL72            92455 non-null  int64
 3   y_mL72            92455 non-null  int64
 4   jaar              92455 non-null  int64
 5   datum             92455 non-null  object
 6   parameter         92455 non-null  object
 7   detectieconditie  92455 non-null  object
 8   meetwaarde        92455 non-null  object
 9   meeteenheid       92455 non-null  object
 10  omschrijving      92455 non-null  object
 11  vha_segment_code  92455 non-null  int64
dtypes: int64(6), object(6)
memory usage: 8.5+ MB

,ogc_fid,meetplaats,x_mL72,y_mL72,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,omschrijving,vha_segment_code
0,1,102500,228750,210246,2022,16/02/2022,10:2 FTS,<,"3,95",ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296
1,2,102500,228750,210246,2022,11/03/2022,10:2 FTS,<,"3,95",ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296
2,3,102500,228750,210246,2022,14/04/2022,10:2 FTS,<,"3,95",ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296
3,4,102500,228750,210246,2022,07/06/2022,10:2 FTS,<,"3,95",ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296
4,5,102500,228750,210246,2022,29/07/2022,10:2 FTS,<,"3,95",ng/l,"Kaulille, Broekerheide, oude hostieweg, dan za...",6030296

In [21]:
# Waste_water_VMM
df[14].info()
df[14].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6953 entries, 0 to 6952
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 6953 non-null   int64
 1   opdracht           6953 non-null   int64
 2   pfasdossiernr      6953 non-null   int64
 3   profielnaam        6953 non-null   object
 4   top_in_m           3937 non-null   float64
 5   basis_in_m         3937 non-null   float64
 6   jaar               6953 non-null   int64
 7   datum              6953 non-null   object
 8   parameter          6953 non-null   object
 9   detectieconditie   6953 non-null   object
 10  meetwaarde         6953 non-null   float64
 11  meeteenheid        6953 non-null   object
 12  medium             6953 non-null   object
 13  profieltype        6953 non-null   object
 14  plaatsing_profiel  4690 non-null   object
 15  commentaar         6953 non-null   object
 16  x_ml72             6953 non-null   float64
 17  y_ml72             6953 non-null   float64
dtypes: float64(5), int64(4), object(9)
memory usage: 977.9+ KB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31427456,13269077,732,12,0.0,0.0,2018,2018-07-09,PFHxStotaal,=,34.600,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33
1,31427457,13269077,732,12,0.0,0.0,2018,2018-07-09,PFOStotaal,=,449.000,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33
2,31427458,13269077,732,12,0.0,0.0,2018,2018-07-09,PFOAtotaal,=,121.000,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33
3,31427459,13269077,732,12,0.0,0.0,2018,2018-07-09,PFOSAtotaal,=,0.655,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33
4,31427460,13269077,732,12,0.0,0.0,2018,2018-01-22,PFHxStotaal,=,9.850,µg/l,Oppervlaktewater,Staal,NaN,,147674.05,213145.33

In [22]:
# Air_dust_VMM
df[15].info()
df[15].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124004 entries, 0 to 124003
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ogc_fid                    124004 non-null  int64
 1   bedrijfsnaam               124004 non-null  object
 2   id                         124004 non-null  int64
 3   meetplaats                 124004 non-null  int64
 4   x_mL72                     124004 non-null  int64
 5   y_mL72                     124004 non-null  int64
 6   jaar                       124004 non-null  int64
 7   datum                      124004 non-null  object
 8   parameter                  124004 non-null  object
 9   detectieconditie           124004 non-null  object
 10  meetwaarde                 124004 non-null  float64
 11  meeteenheid                124004 non-null  object
 12  aanvrager                  124004 non-null  object
 13  alternatief_nummer         124004 non-null  object
 14  motivatie                  124004 non-null  object
 15  geïmpacteerd               124004 non-null  int64
 16  omschrijving               123945 non-null  object
 17  lozingswijze_omschrijving  124004 non-null  object
 18  lozingstype                124004 non-null  object
 19  vha_segment_code           124004 non-null  int64
dtypes: float64(1), int64(8), object(11)
memory usage: 18.9+ MB

,ogc_fid,bedrijfsnaam,id,meetplaats,x_mL72,y_mL72,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,aanvrager,alternatief_nummer,motivatie,geïmpacteerd,omschrijving,lozingswijze_omschrijving,lozingstype,vha_segment_code
0,1,WASSERIJ SINT- ROCH,1,1500015,139041,157450,2018,2018-02-19,PFHxA,<,0.0500,µg/l,VMM,,emissie meetnet,0,"achteraan, aan grasplein",Regenweerafvoer,Lozend,6043271
1,2,WASSERIJ SINT- ROCH,2,1500015,139041,157450,2018,2018-02-19,PFHxS,<,0.0050,µg/l,VMM,,emissie meetnet,0,"achteraan, aan grasplein",Regenweerafvoer,Lozend,6043271
2,3,WASSERIJ SINT- ROCH,3,1500015,139041,157450,2018,2018-02-19,PFOA,=,0.0173,µg/l,VMM,,emissie meetnet,0,"achteraan, aan grasplein",Regenweerafvoer,Lozend,6043271
3,4,WASSERIJ SINT- ROCH,4,1500015,139041,157450,2018,2018-02-19,PFOS,<,0.0050,µg/l,VMM,,emissie meetnet,0,"achteraan, aan grasplein",Regenweerafvoer,Lozend,6043271
4,5,WASSERIJ SINT- ROCH,5,1500015,139041,157450,2018,2018-03-29,PFHxA,<,0.1000,µg/l,VMM,,emissie meetnet,0,"achteraan, aan grasplein",Regenweerafvoer,Lozend,6043271

In [23]:
# Air_gas_VMM
df[16].info()
df[16].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33058 entries, 0 to 33057
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                33058 non-null  int64
 1   code_meetplaats   33058 non-null  object
 2   naam_meetplaats   33058 non-null  object
 3   Straat            33058 non-null  object
 4   Gemeente          33058 non-null  object
 5   Startdatum        33058 non-null  object
 6   Stopdatum         33058 non-null  object
 7   parameter         33058 non-null  object
 8   detectieconditie  33058 non-null  object
 9   waarde            33058 non-null  float64
 10  Eenheid           33058 non-null  object
 11  X                 33058 non-null  int64
 12  Y                 33058 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 3.3+ MB

,id,code_meetplaats,naam_meetplaats,Straat,Gemeente,Startdatum,Stopdatum,parameter,detectieconditie,waarde,Eenheid,X,Y
0,300,N016,Dessel,"Nieuwedijk, sluis 4",Dessel,29/09/2022,05/10/2022,Totaal PFAS,=,0.0,ng/m³,205542,214045
1,300,N016,Dessel,"Nieuwedijk, sluis 4",Dessel,29/09/2022,05/10/2022,Totaal EFSA PFAS,=,0.0,ng/m³,205542,214045
2,300,N016,Dessel,"Nieuwedijk, sluis 4",Dessel,29/09/2022,05/10/2022,PFBA,≅,0.0,ng/m³,205542,214045
3,300,N016,Dessel,"Nieuwedijk, sluis 4",Dessel,29/09/2022,05/10/2022,PFPeA,≅,0.0,ng/m³,205542,214045
4,300,N016,Dessel,"Nieuwedijk, sluis 4",Dessel,29/09/2022,05/10/2022,PFHxA,≅,0.0,ng/m³,205542,214045

In [24]:
# Air_deposition_VMM
df[17].info()
df[17].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3771 entries, 0 to 3770
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3771 non-null   int64
 1   code_meetplaats   3771 non-null   object
 2   naam_meetplaats   3771 non-null   object
 3   straat            3771 non-null   object
 4   gemeente          3771 non-null   object
 5   Startdatum        3771 non-null   object
 6   Stopdatum         3771 non-null   object
 7   parameter         3771 non-null   object
 8   detectieconditie  3771 non-null   object
 9   waarde            3771 non-null   float64
 10  Eenheid           3771 non-null   object
 11  X                 3771 non-null   int64
 12  Y                 3771 non-null   int64
dtypes: float64(1), int64(3), object(9)
memory usage: 383.1+ KB

,id,code_meetplaats,naam_meetplaats,straat,gemeente,Startdatum,Stopdatum,parameter,detectieconditie,waarde,Eenheid,X,Y
0,1,R897,Antwerpen-Scheldelaan,Antwerpen,Scheldelaan - Polderdijkweg,2023-01-12,2023-01-26,Totaal PFAS,=,0.01073,ng/m³,148139,215578
1,1,R897,Antwerpen-Scheldelaan,Antwerpen,Scheldelaan - Polderdijkweg,2023-01-12,2023-01-26,Totaal EFSA PFAS,=,0.00268,ng/m³,148139,215578
2,1,R897,Antwerpen-Scheldelaan,Antwerpen,Scheldelaan - Polderdijkweg,2023-01-12,2023-01-26,PFBA,≅,0.00000,ng/m³,148139,215578
3,1,R897,Antwerpen-Scheldelaan,Antwerpen,Scheldelaan - Polderdijkweg,2023-01-12,2023-01-26,PFPeA,<,0.00220,ng/m³,148139,215578
4,1,R897,Antwerpen-Scheldelaan,Antwerpen,Scheldelaan - Polderdijkweg,2023-01-12,2023-01-26,PFHxA,<,0.00150,ng/m³,148139,215578

In [25]:
# Combined_groundwater
df[18].info()
df[18].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9242 entries, 0 to 9241
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                9242 non-null   int64
 1   code_meetplaats   9242 non-null   object
 2   naam_meetplaats   9242 non-null   object
 3   straat            9242 non-null   object
 4   gemeente          9242 non-null   object
 5   Startdatum        9242 non-null   object
 6   Stopdatum         9242 non-null   object
 7   parameter         9242 non-null   object
 8   detectieconditie  9242 non-null   object
 9   waarde            9242 non-null   float64
 10  Eenheid           9242 non-null   object
 11  X                 9242 non-null   int64
 12  Y                 9242 non-null   int64
dtypes: float64(1), int64(3), object(9)
memory usage: 938.8+ KB

,id,code_meetplaats,naam_meetplaats,straat,gemeente,Startdatum,Stopdatum,parameter,detectieconditie,waarde,Eenheid,X,Y
0,1,AL01,Antwerpen-Linkeroever,Antwerpen,Wandeldijk,2021-07-29,2021-08-26,Totaal PFAS,≅,0.00,ng/m²/d,150865,214046
1,1,AL01,Antwerpen-Linkeroever,Antwerpen,Wandeldijk,2021-07-29,2021-08-26,Totaal EFSA PFAS,≅,0.00,ng/m²/d,150865,214046
2,2,N016,Dessel,Dessel,"Nieuwedijk, sluis 4",2021-07-29,2021-08-26,Totaal PFAS,≅,0.00,ng/m²/d,205542,214045
3,2,N016,Dessel,Dessel,"Nieuwedijk, sluis 4",2021-07-29,2021-08-26,Totaal EFSA PFAS,≅,0.00,ng/m²/d,205542,214045
4,3,R897,Antwerpen-Scheldelaan,Antwerpen,Scheldelaan - Polderdijkweg,2021-07-29,2021-08-26,Totaal PFAS,=,13.87,ng/m²/d,148139,215578

In [26]:
# Combined_soil
df[19].info()
df[19].head()

<class 'pandas.core.frame.DataFrame'>
Index: 341725 entries, 0 to 5594
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                341725 non-null  object
 1   datum             341725 non-null  object
 2   x_m_L72           341725 non-null  float64
 3   y_m_L72           341725 non-null  float64
 4   top_m_mv          339369 non-null  float64
 5   basis_m_mv        339713 non-null  float64
 6   parameter         341725 non-null  object
 7   detectieconditie  340285 non-null  object
 8   meetwaarde        341725 non-null  float64
 9   meeteenheid       341588 non-null  object
 10  bron              341725 non-null  object
dtypes: float64(5), object(6)
memory usage: 31.3+ MB

,id,datum,x_m_L72,y_m_L72,top_m_mv,basis_m_mv,parameter,detectieconditie,meetwaarde,meeteenheid,bron
0,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,8:2 FTUCA,<,2.0,ng/l,VMM
1,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,PFPeS,<,1.0,ng/l,VMM
2,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,MePFOSA,<,2.0,ng/l,VMM
3,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,PFODA,<,2.0,ng/l,VMM
4,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,PFHpA,<,1.0,ng/l,VMM

In [27]:
# Combined_soil_water
df[20].info()
df[20].head()

<class 'pandas.core.frame.DataFrame'>
Index: 510908 entries, 0 to 100797
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                510908 non-null  object
 1   datum             502409 non-null  object
 2   x_m_L72           510908 non-null  float64
 3   y_m_L72           510908 non-null  float64
 4   top_m_mv          510908 non-null  float64
 5   basis_m_mv        510908 non-null  float64
 6   parameter         510908 non-null  object
 7   detectieconditie  510908 non-null  object
 8   meetwaarde        510908 non-null  float64
 9   meeteenheid       510908 non-null  object
 10  bron              510908 non-null  object
dtypes: float64(5), object(6)
memory usage: 46.8+ MB

,id,datum,x_m_L72,y_m_L72,top_m_mv,basis_m_mv,parameter,detectieconditie,meetwaarde,meeteenheid,bron
0,13077062/6180/108,2021-06-01,237521.0,204927.0,0.5,0.7,PFHxStotaal,<,0.2,µg/kg ds,OVAM
1,13077062/6180/108,2021-06-01,237521.0,204927.0,0.5,0.7,PFPeA,<,0.2,µg/kg ds,OVAM
2,13077062/6180/108,2021-06-01,237521.0,204927.0,0.5,0.7,8:2 diPAP,<,0.2,µg/kg ds,OVAM
3,13077062/6180/108,2021-06-01,237521.0,204927.0,0.5,0.7,PFPeS,<,0.2,µg/kg ds,OVAM
4,13077062/6180/108,2021-06-01,237521.0,204927.0,0.5,0.7,PFNS,<,0.2,µg/kg ds,OVAM

In [28]:
# Combined_surface_water
df[21].info()
df[21].head()

<class 'pandas.core.frame.DataFrame'>
Index: 7432 entries, 0 to 714
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                6533 non-null   float64
 1   datum             7432 non-null   object
 2   x_m_L72           7432 non-null   float64
 3   y_m_L72           7432 non-null   float64
 4   parameter         7432 non-null   object
 5   detectieconditie  7432 non-null   object
 6   meetwaarde        7432 non-null   float64
 7   meeteenheid       7432 non-null   object
 8   bron              7432 non-null   object
dtypes: float64(4), object(5)
memory usage: 580.6+ KB

,id,datum,x_m_L72,y_m_L72,parameter,detectieconditie,meetwaarde,meeteenheid,bron
0,6015780.0,2021-06-03,156111.0,183359.0,PFOS,=,21.00,µg/kg ds,VMM
1,31683.0,2018-05-15,145348.0,167154.0,PFOS,<,0.25,µg/kg ds,VMM
2,6015541.0,2021-06-03,145554.0,164520.0,PFOS,<,0.25,µg/kg ds,VMM
3,6032063.0,2021-06-11,124725.0,168872.0,PFOA,<,0.20,µg/kg ds,VMM
4,6032063.0,2021-06-11,124725.0,168872.0,PFOS,=,1.10,µg/kg ds,VMM

### Example 2 : You only want to download the groundwater data of Flanders

In [29]:
medium = ['groundwater']
location = Within(Box(15000, 150000, 270000, 250000, epsg=31370))  # Bounding box Flanders
rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None)[0]

2024-05-30 21:08:20.997 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/033] .................................
[000/001] .

2024-05-30 21:49:52.992 | INFO     | PFAS_concentrations:main:1086 - The program was executed in 0:41:31.995179.

In [30]:
# Groundwater_VMM
df[0].info()
df[0].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10817 entries, 0 to 10816
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pkey_grondwatermonster        10817 non-null  object
 1   grondwatermonsternummer       10817 non-null  object
 2   pkey_grondwaterlocatie        10817 non-null  object
 3   gw_id                         10817 non-null  object
 4   pkey_filter                   10817 non-null  object
 5   filternummer                  10817 non-null  object
 6   x                             10817 non-null  float64
 7   y                             10817 non-null  float64
 8   start_grondwaterlocatie_mtaw  10817 non-null  float64
 9   gemeente                      10817 non-null  object
 10  datum_monstername             10817 non-null  datetime64[ns]
 11  parametergroep                10817 non-null  object
 12  parameter                     10817 non-null  object
 13  detectie                      9377 non-null   object
 14  waarde                        10817 non-null  float64
 15  eenheid                       10817 non-null  object
 16  veld_labo                     10817 non-null  object
 17  aquifer_code                  10817 non-null  object
 18  diepte_onderkant_filter       10817 non-null  float64
 19  lengte_filter                 10817 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 1.7+ MB

,pkey_grondwatermonster,grondwatermonsternummer,pkey_grondwaterlocatie,gw_id,pkey_filter,filternummer,x,y,start_grondwaterlocatie_mtaw,gemeente,datum_monstername,parametergroep,parameter,detectie,waarde,eenheid,veld_labo,aquifer_code,diepte_onderkant_filter,lengte_filter
0,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,8:2 FTUCA,<,2.0,ng/l,LABO,0100,13.0,5.0
1,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,PFPeS,<,1.0,ng/l,LABO,0100,13.0,5.0
2,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,MePFOSA,<,2.0,ng/l,LABO,0100,13.0,5.0
3,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,PFODA,<,2.0,ng/l,LABO,0100,13.0,5.0
4,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,PFHpA,<,1.0,ng/l,LABO,0100,13.0,5.0

In [31]:
# Groundwater_OVAM
df[1].info()
df[1].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325313 entries, 0 to 325312
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 325313 non-null  int64
 1   opdracht           325313 non-null  int64
 2   pfasdossiernr      325313 non-null  int64
 3   profielnaam        325313 non-null  object
 4   top_in_m           323774 non-null  float64
 5   basis_in_m         323774 non-null  float64
 6   jaar               325313 non-null  int64
 7   datum              325313 non-null  object
 8   parameter          325313 non-null  object
 9   detectieconditie   325313 non-null  object
 10  meetwaarde         325313 non-null  float64
 11  meeteenheid        325176 non-null  object
 12  medium             325313 non-null  object
 13  profieltype        325313 non-null  object
 14  plaatsing_profiel  301729 non-null  object
 15  commentaar         325313 non-null  object
 16  x_ml72             325313 non-null  float64
 17  y_ml72             325313 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 44.7+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063070,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFHpS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
1,31063071,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
2,31063072,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,HFPO-DA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
3,31063073,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFODA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
4,31063074,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0

In [32]:
# Groundwater_Lantis
df[2].info()
df[2].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595 entries, 0 to 5594
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   projectdeel         5595 non-null   object
 1   peilbuis            5595 non-null   object
 2   filter_van_m        4778 non-null   float64
 3   filter_tot_m        5122 non-null   float64
 4   nummer              5595 non-null   int64
 5   analysemonster      5595 non-null   object
 6   datum_bemonstering  5595 non-null   object
 7   gegevens            5595 non-null   object
 8   parameter           5595 non-null   object
 9   detectieconditie    5595 non-null   object
 10  waarde              5595 non-null   float64
 11  eenheid             5595 non-null   object
 12  x_ml72              5595 non-null   float64
 13  y_ml72              5595 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 612.1+ KB

,projectdeel,peilbuis,filter_van_m,filter_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,R1O1,PBC3,NaN,14.9,182,PBC3,2022/02/04,RoTS/WiBo,PFHxS,=,5.0,ng/l,154735.956833,213286.10449
1,R1O1,P406,4.1,6.1,88,LD_406,2021/09/23,RoTS/WiBo,8:2 FTS,<,2.0,ng/l,154457.340000,213702.00000
2,KZ,StadAnt_280,3.4,4.4,248,StadAnt_280-1-1 StadAnt_280,2022/01/25,RoTS/Sweco,PFHxDA,<,1.0,ng/l,152803.809990,214595.20000
3,R1O1,P402a,9.1,10.1,77,LD_402a,2021/08/19,RoTS/WiBo,10:2 FTS,<,4.0,ng/l,154374.470000,213884.06000
4,STLO,PFAS-Diep-PB5,21.0,23.0,195,PFAS-Diep-PB5-1-2 PFAS-Diep-PB5,2021/12/08,RoTS/Sweco,PFHxDA,<,1.0,ng/l,149800.908600,214023.70810

### Example 3 : You want to download the soil and groundwater data of Flanders

In [33]:
medium = ['soil', 'groundwater']
location = Within(Box(15000, 150000, 270000, 250000, epsg=31370))  # Bounding box Flanders
rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None)[0]

2024-05-30 21:49:53.176 | INFO     | PFAS_concentrations:soil:427 - Downloading soil data

[000/042] ..........................................
[000/011] ...........

2024-05-30 23:29:39.840 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/033] .................................
[000/001] .

2024-05-31 00:48:34.260 | INFO     | PFAS_concentrations:main:1086 - The program was executed in 2:58:41.083759.

In [34]:
# Soil_OVAM
df[0].info()
df[0].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410110 entries, 0 to 410109
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 410110 non-null  int64
 1   opdracht           410110 non-null  int64
 2   pfasdossiernr      410110 non-null  int64
 3   profielnaam        410110 non-null  object
 4   top_in_m           410110 non-null  float64
 5   basis_in_m         410110 non-null  float64
 6   jaar               410110 non-null  int64
 7   datum              410110 non-null  object
 8   parameter          410110 non-null  object
 9   detectieconditie   410110 non-null  object
 10  meetwaarde         410110 non-null  float64
 11  meeteenheid        410110 non-null  object
 12  medium             410110 non-null  object
 13  profieltype        410110 non-null  object
 14  plaatsing_profiel  346475 non-null  object
 15  commentaar         410110 non-null  object
 16  x_ml72             410110 non-null  float64
 17  y_ml72             410110 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 56.3+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063144,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFHxStotaal,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
1,31063147,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFPeA,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
2,31063151,13077062,6180,108,0.5,0.7,2021,2021-06-01,8:2 diPAP,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
3,31063157,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFPeS,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0
4,31063159,13077062,6180,108,0.5,0.7,2021,2021-06-01,PFNS,<,0.2,µg/kg ds,Vaste deel van de aarde,Boring,2021-05-21,,237521.0,204927.0

In [35]:
# Soil_Lantis
df[1].info()
df[1].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100798 entries, 0 to 100797
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   projectdeel         100681 non-null  object
 1   boring              100798 non-null  object
 2   diepte_van_m        100798 non-null  float64
 3   diepte_tot_m        100798 non-null  float64
 4   nummer              100798 non-null  int64
 5   analysemonster      100798 non-null  object
 6   datum_bemonstering  92299 non-null   object
 7   gegevens            100798 non-null  object
 8   parameter           100798 non-null  object
 9   detectieconditie    100798 non-null  object
 10  waarde              100798 non-null  float64
 11  eenheid             100798 non-null  object
 12  x_ml72              100798 non-null  float64
 13  y_ml72              100798 non-null  float64
dtypes: float64(5), int64(1), object(8)
memory usage: 10.8+ MB

,projectdeel,boring,diepte_van_m,diepte_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS,=,7.3,µg/kg ds,149401.99,213878.69
1,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS kwantitatief,=,7.3,µg/kg ds,149401.99,213878.69
2,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,totaal PFAS indicatief,=,0.0,µg/kg ds,149401.99,213878.69
3,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,som PFOA,<,5.0,µg/kg ds,149401.99,213878.69
4,ST,B40017,0.0,0.5,1,MM40001,2016-08-25,RoTS/Sweco,som PFOS,=,7.3,µg/kg ds,149401.99,213878.69

In [36]:
# Groundwater_VMM
df[2].info()
df[2].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10817 entries, 0 to 10816
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pkey_grondwatermonster        10817 non-null  object
 1   grondwatermonsternummer       10817 non-null  object
 2   pkey_grondwaterlocatie        10817 non-null  object
 3   gw_id                         10817 non-null  object
 4   pkey_filter                   10817 non-null  object
 5   filternummer                  10817 non-null  object
 6   x                             10817 non-null  float64
 7   y                             10817 non-null  float64
 8   start_grondwaterlocatie_mtaw  10817 non-null  float64
 9   gemeente                      10817 non-null  object
 10  datum_monstername             10817 non-null  datetime64[ns]
 11  parametergroep                10817 non-null  object
 12  parameter                     10817 non-null  object
 13  detectie                      9377 non-null   object
 14  waarde                        10817 non-null  float64
 15  eenheid                       10817 non-null  object
 16  veld_labo                     10817 non-null  object
 17  aquifer_code                  10817 non-null  object
 18  diepte_onderkant_filter       10817 non-null  float64
 19  lengte_filter                 10817 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 1.7+ MB

,pkey_grondwatermonster,grondwatermonsternummer,pkey_grondwaterlocatie,gw_id,pkey_filter,filternummer,x,y,start_grondwaterlocatie_mtaw,gemeente,datum_monstername,parametergroep,parameter,detectie,waarde,eenheid,veld_labo,aquifer_code,diepte_onderkant_filter,lengte_filter
0,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,8:2 FTUCA,<,2.0,ng/l,LABO,0100,13.0,5.0
1,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,PFPeS,<,1.0,ng/l,LABO,0100,13.0,5.0
2,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,MePFOSA,<,2.0,ng/l,LABO,0100,13.0,5.0
3,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,PFODA,<,2.0,ng/l,LABO,0100,13.0,5.0
4,https://www.dov.vlaanderen.be/data/watermonste...,53(4-0080_1 | 01/02/22 - 30/06/22),https://www.dov.vlaanderen.be/data/put/2017-00...,4-0080,https://www.dov.vlaanderen.be/data/filter/1991...,1,121390.0,204690.0,4.38,Lokeren,2022-02-14,Grondwater_chemisch_PFAS,PFHpA,<,1.0,ng/l,LABO,0100,13.0,5.0

In [37]:
# Groundwater_OVAM
df[3].info()
df[3].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325313 entries, 0 to 325312
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 325313 non-null  int64
 1   opdracht           325313 non-null  int64
 2   pfasdossiernr      325313 non-null  int64
 3   profielnaam        325313 non-null  object
 4   top_in_m           323774 non-null  float64
 5   basis_in_m         323774 non-null  float64
 6   jaar               325313 non-null  int64
 7   datum              325313 non-null  object
 8   parameter          325313 non-null  object
 9   detectieconditie   325313 non-null  object
 10  meetwaarde         325313 non-null  float64
 11  meeteenheid        325176 non-null  object
 12  medium             325313 non-null  object
 13  profieltype        325313 non-null  object
 14  plaatsing_profiel  301729 non-null  object
 15  commentaar         325313 non-null  object
 16  x_ml72             325313 non-null  float64
 17  y_ml72             325313 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 44.7+ MB

,id,opdracht,pfasdossiernr,profielnaam,top_in_m,basis_in_m,jaar,datum,parameter,detectieconditie,meetwaarde,meeteenheid,medium,profieltype,plaatsing_profiel,commentaar,x_ml72,y_ml72
0,31063070,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFHpS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
1,31063071,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBS,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
2,31063072,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,HFPO-DA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
3,31063073,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFODA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0
4,31063074,13077062,6180,PB31,0.2,2.2,2021,2021-06-16,PFBA,<,0.02,µg/l,Grondwater,Peilbuis,NaN,,237529.0,204908.0

In [38]:
# Groundwater_Lantis
df[4].info()
df[4].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5595 entries, 0 to 5594
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   projectdeel         5595 non-null   object
 1   peilbuis            5595 non-null   object
 2   filter_van_m        4778 non-null   float64
 3   filter_tot_m        5122 non-null   float64
 4   nummer              5595 non-null   int64
 5   analysemonster      5595 non-null   object
 6   datum_bemonstering  5595 non-null   object
 7   gegevens            5595 non-null   object
 8   parameter           5595 non-null   object
 9   detectieconditie    5595 non-null   object
 10  waarde              5595 non-null   float64
 11  eenheid             5595 non-null   object
 12  x_ml72              5595 non-null   float64
 13  y_ml72              5595 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 612.1+ KB

,projectdeel,peilbuis,filter_van_m,filter_tot_m,nummer,analysemonster,datum_bemonstering,gegevens,parameter,detectieconditie,waarde,eenheid,x_ml72,y_ml72
0,R1O1,PBC3,NaN,14.9,182,PBC3,2022/02/04,RoTS/WiBo,PFHxS,=,5.0,ng/l,154735.956833,213286.10449
1,R1O1,P406,4.1,6.1,88,LD_406,2021/09/23,RoTS/WiBo,8:2 FTS,<,2.0,ng/l,154457.340000,213702.00000
2,KZ,StadAnt_280,3.4,4.4,248,StadAnt_280-1-1 StadAnt_280,2022/01/25,RoTS/Sweco,PFHxDA,<,1.0,ng/l,152803.809990,214595.20000
3,R1O1,P402a,9.1,10.1,77,LD_402a,2021/08/19,RoTS/WiBo,10:2 FTS,<,4.0,ng/l,154374.470000,213884.06000
4,STLO,PFAS-Diep-PB5,21.0,23.0,195,PFAS-Diep-PB5-1-2 PFAS-Diep-PB5,2021/12/08,RoTS/Sweco,PFHxDA,<,1.0,ng/l,149800.908600,214023.70810

### Example 4 : You want to download the combined groundwater PFAS data of Flanders

In [39]:
medium = ['combined_groundwater']
location = Within(Box(15000, 150000, 270000, 250000, epsg=31370))  # Bounding box Flanders
rd = RequestPFASdata()
df = rd.main(medium, location=location, max_features=None)[0]

2024-05-31 00:48:34.946 | INFO     | PFAS_concentrations:groundwater:231 - Downloading groundwater data

[000/001] .
[000/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/233] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/233] ccccccccccccccccccccccccccccccccc
[000/001] .
[000/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[050/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[100/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[150/229] cccccccccccccccccccccccccccccccccccccccccccccccccc
[200/229] ccccccccccccccccccccccccccccc
[000/033] .................................
[000/001] .

2024-05-31 02:07:58.295 | INFO     | PFAS_concentrations:main:1086 - The program was executed in 1:19:23.364994.

In [40]:
# combined_groundwater
df[0].info()
df[0].head()

<class 'pandas.core.frame.DataFrame'>
Index: 341725 entries, 0 to 5594
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                341725 non-null  object
 1   datum             341725 non-null  object
 2   x_m_L72           341725 non-null  float64
 3   y_m_L72           341725 non-null  float64
 4   top_m_mv          339369 non-null  float64
 5   basis_m_mv        339713 non-null  float64
 6   parameter         341725 non-null  object
 7   detectieconditie  340285 non-null  object
 8   meetwaarde        341725 non-null  float64
 9   meeteenheid       341588 non-null  object
 10  bron              341725 non-null  object
dtypes: float64(5), object(6)
memory usage: 31.3+ MB

,id,datum,x_m_L72,y_m_L72,top_m_mv,basis_m_mv,parameter,detectieconditie,meetwaarde,meeteenheid,bron
0,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,8:2 FTUCA,<,2.0,ng/l,VMM
1,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,PFPeS,<,1.0,ng/l,VMM
2,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,MePFOSA,<,2.0,ng/l,VMM
3,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,PFODA,<,2.0,ng/l,VMM
4,53(4-0080_1 | 01/02/22 - 30/06/22),2022-02-14 00:00:00,121390.0,204690.0,8.0,13.0,PFHpA,<,1.0,ng/l,VMM